@import '../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../node_modules/react-redux-toastr/src/styles/index.scss';
@import '../../../node_modules/react-date-picker/dist/DatePicker.css';
@import '../../../node_modules/react-calendar/dist/Calendar.css';

// Components
@import 'components/preloader';

// TODO: remove it, when you will write normal styles
.chat-item {
  cursor: pointer;

  &.active {
    background-color: blue;
    cursor: auto;
  }
}
